<%= form_for (@broadcast_message) do |f| %>
  <% if @broadcast_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@broadcast_message.errors.count, "error") %> prohibited this broadcast_message from being saved:</h2>

      <ul>
      <% @broadcast_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :message %>
      <div class="row">
        <div class="col-sm-8">
          <%= f.text_field :message, :autofocus => true, class: "form-control" %>  
        </div>
      </div>
    </div>

  <div class="row">
      <div class="col-sm-5">
        <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
</div>
<% end %>