<div class="container">

<table class="table">
  <thead>
    <tr>
      <th>Starts at</th>
      <th>User</th>
      <th>Product</th>
      <th>With</th>
      <th>Price</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @recent_reservations.each do |reservation| %>
      <tr class=<%= 'danger' if reservation.is_canceled? %>>
        <td><%= reservation.available_at.strftime("%B %e, %H:%M") %></td>
        <td><%= reservation.user.fullname %></td>
        <td><%= reservation.product.name %></td>
        <td><%= reservation.product.employee %></td>
        <td><%= reservation.product.price %></td>
        <% unless reservation.is_canceled? %>
        <td><%= link_to 'Cancel', cancel_reservation_path(reservation), method: :put %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>