

<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :starts_at %><br>
    <%= f.collection_select :product_id, Product.where("available_at > ?", Time.now), :id, :available_at, { include_blank: "Select a time"}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.collection_select :product_id, Product.where("available_at > ?", Time.now), :id, :name, { include_blank: "Select a product"}, class: 'form-control' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
