<div class="container">

<table class="table">
  <thead>
    <tr>
      <th>Starts at</th>
      <th>User</th>
      <th>Product</th>
      <th>With</th>
      <th>Price</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.available_at.strftime("%B %e, %H:%M") %></td>
        <td><%= reservation.user.fullname %></td>
        <td><%= reservation.product.name %></td>
        <td><%= reservation.product.employee %></td>
        <td><%= reservation.product.price %></td>
        <td><%= link_to '<i class="fa fa-times"></i>'.html_safe, cancel_reservation_path(reservation), method: :put, title: "Cancel", class: "btn btn-danger btn-xs has_top_tooltip" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
