<div class="container">

<table class="table">
  <thead>
    <tr>
      <th>Starts at</th>
      <th>User</th>
      <th>Product</th>
      <th>With</th>
      <th>Price</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.product.available_at.strftime("%B %e, %H:%M") %></td>
        <td><%= reservation.user.email %></td>
        <td><%= reservation.product.name %></td>
        <td><%= reservation.product.employee %></td>
        <td><%= reservation.product.price %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
