<div class="container">

<table class="table">
  <thead>
    <tr>
      <th>Starts at</th>
      <th>User</th>
      <th>Product</th>
      <th>Is canceled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.product.available_at.strftime("%B %e, %H:%M") %></td>
        <td><%= reservation.user.email %></td>
        <% if reservation.product.try(:name?) %>
        <td><%= reservation.product.name %></td>
        <% end %>
        <td><%= reservation.is_canceled %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
