<div class="container">

<div class="panel panel-default">
<div class="panel-heading">Your Reservation</div>
<div class="panel-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Starts at:</strong>
  <%= @reservation.product.available_at.strftime("%B %e, %H:%M") %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.email %>
</p>

<p>
  <strong>Product:</strong>
  <%= @reservation.product.name %>
</p>

<%= link_to 'Go Back', reservations_path %>

</div>
</div>
</div>