<% @products.promoted.each do |product| %>
<% unless product.available_at < Time.now + (30.minutes) %>
   <div class="col-sm-4 col-lg-4 col-md-4">
     <div class="thumbnail">
       <span class="promo"></span>
        <span class="sale">Promo</span>
          <div class="caption">
            <h4 class="pull-right"><%= product.price %> ден</h4>
              <h4><%= product.name %></h4>
              <p><%= product.description %></p>
          </div>
            <div class="clearfix">
              <div class="employees">
                <p class="pull-right"><%= link_to "Book Now!", new_reservation_path(product_id: product.name), class: "btn btn-primary btn-xs" %></p>
                    <p><%= product.employee %></p>
                </div>
             </div>
      </div>
    </div>
<% end %>
<% end %>



<% @products.not_promoted.each do |product| %>
<% unless product.available_at < Time.now + (30.minutes) %>
   <div class="col-sm-4 col-lg-4 col-md-4">
     <div class="thumbnail">
          <div class="caption">
            <h4 class="pull-right"><%= product.price %> ден</h4>
              <h4><%= product.name %></h4>
              <p><%= product.description %></p>
          </div>
            <div class="clearfix">
              <div class="employees">
                <p class="pull-right"><%= link_to "Book Now!", new_reservation_path(product_id: product.name), class: "btn btn-primary btn-xs" %></p>
                    <p><%= product.employee %></p>
                </div>
             </div>
      </div>
    </div>
<% end %>
<% end %>