<div class="container">

<h3>Today's services available <% if @category.present? %> - <small><%= @category.name  %></small><% end %></h3>

<%= form_tag products_path, method: 'get', html: {role: "form"} do %>
  <p>
  <div class="col-md-5">
    <%= text_field_tag :date, params[:date], "data-behaviour" => "datepicker", id: "datepicker", placeholder: "Search by date", class: "form-control" %>
  </div>
    <%= submit_tag "Submit", name: nil, class: "btn btn-success" %>
 </p>
<% end %>

<ul class="nav nav-tabs" role="tablist">

<li class=<%= 'active' unless @category.present? %>><%= link_to "All Products", products_path %></li>
<% Category.order(products_count: :desc).each do |category| %>
<li class=<%= 'active' if category == @category %>><%= link_to "#{category.name}", categoried_products_path(category_id: category.id) %></li>
<% end %>

</ul>

<% if @products.any? %>

<%= render 'products/products' %>

<% else %>

<div class="text-muted"><p class="text-center">No services available :(. Check back later.</p></div>

<% end %>

</div>
