<div class="container">

<div class="row">
	<div class="panel panel-default">
	<div class="panel-body">
		<%= form_tag products_path, method: 'get', html: {role: "form"} do %>
  <p>
  <div class="col-md-6">
    <%= text_field_tag :date, params[:date], "data-behaviour" => "datepicker", id: "datepicker", placeholder: "Click here to find a product by date", class: "form-control" %>
  </div>
    <%= submit_tag "Search", name: nil, class: "btn btn-success" %>
 </p>
<% end %>
</div>
	</div>

<div class="row">

<div class="col-md-3">
	<ul class="nav nav-pills nav-stacked">
		<li class=<%= 'active' unless @category.present? %>><%= link_to "All Products", products_path, class: "list-group-item" %></li>
		<% Category.order(products_count: :desc).each do |category| %>
		<li class=<%= 'active' if category == @category %>><%= link_to "#{category.name}", categoried_products_path(category_id: category.name), class: "list-group-item" %></li>
		<% end %>
	</ul>
</div>

<div class="col-md-9">

<% if @products.any? %>

<%= render 'products/products' %>

<% else %>

<div class="text-muted"><p class="text-center">There are no services available at this time :(</p></div>

<% end %>

</div>
</div>



</div>

</div>
