<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Available at:</strong>
  <%= @product.available_at %>
</p>

<p>
  <strong>Is promoted:</strong>
  <%= @product.is_promoted %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
