<!DOCTYPE html>
<html>
<head>
  <title>Kozmeticar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'peek/bar' %>

  <%= render 'layouts/broadcast' %>

	<%= render 'layouts/nav_panel' %>

<%= yield %>

</body>
</html>
